@charset "UTF-8"

*{
    font-family: 'Times New Roman', Times, serif;
}

body {

    background-image: linear-gradient(to right, #FAAEBC, #DEA6D1)
}

main {
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 5px 5px  rgb(247, 111, 133);
    width: 600px;
    padding: 10px;
    margin: auto; 

}

h1 {
    color: #DEA6D1;
    text-align: center;
    text-shadow: 1px 1px #966e8c ;
}

h2 {
    color: #FAAEBC;
    text-shadow: 1px 1px #d494a0;
}

p {
    text-align: justify;
}
